

  .container-form-master-services{


      .title-activate{
        color: #0832de;
        font-size: 25px;
        font-weight: 700;
      }

      .custom-button {
        background-color: #0832de; /* Reemplaza con el color exacto */
        color: white;
        padding: 12px;
        font-weight: 500;
        border-radius: 8px;
        margin-top: 20px;

      }


      .check-list{
        display: flex;
        gap: 10px;
        overflow: hidden;

      }
    


}
